extends ../layout

block content
  .auth-page
    .container.page
      .row
        .col-md-6.offset-md-3.col-xs-12
          h1.text-xs-center Login
          p.text-xs-center Não possui uma conta? 
            | 
            a(href="/cadastro") Cadastre-se
            
          form(action="/login" method="POST")
            fieldset.form-group
              input.form-control.form-control-lg(type="email", name="email", placeholder="Digite seu e-mail")
          
            fieldset.form-group
              input.form-control.form-control-lg(type="password", name="password", placeholder="Digite sua senha")

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Entrar

          br
          h3.text-xs-center Esqueceu sua senha?
          form.form(action="/conta/esqueceu-senha" method="POST")
            fieldset.form-group
              input.form-control.form-control-lg(type="email", name="email", placeholder="Digite seu email")

            button.btn.btn-lg.btn-primary.btn-block(type="submit") Resetar senha
        
