NODE_ENV=development
DATABASE=mongodb://user:pass@host.com:port/database
PORT=8080
SECRET=chave
KEY=secreta
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/auth/github/callback
SIGAA_CLIENT_ID=
SIGAA_CLIENT_SECRET=