extends layout

block content
  h2= title
  .row
    .col-md-12
      .list-group
        each q in questoes
          a.list-group-item(href=`/questao/${q.identificador}`)
            .row
              .col-md-12
                h4 Questão #{q.identificador} - #{q.titulo}
                - const enunciado = q.enunciado.slice(0, 300);
                p
                  strong Enunciado: 
                  != enunciado + '...'
        
          