extends ../layout

block content
	section.hero.is-primary.shadow-inside
		.hero-body
			.container.has-text-centered
				h1.title.title-with-shadow.is-size-2 Gerenciamento
		.hero-foot
			.container
				nav.tabs.is-boxed.is-centered
					ul
						li.is-active(data-tab="geral")
							a 
								span.icon.is-small
									i.fa.fa-file-text-o
								span Geral
						li(data-tab="relatorios")
							a 
								span.icon.is-small
									i.fa.fa-file-text-o
								span Relatórios
						li(data-tab="configuracoes")
							a 
								span.icon.is-small
									i.fa.fa-file-text-o
								span Configurações
						li(data-tab="diagnostico")
							a 
								span.icon.is-small
									i.fa.fa-file-text-o
								span Diagnóstico

	section.m-t-16.m-b-16
		.container.is-fluid
			.tab-content.active(id="geral" role="tabpanel")
			.tab-content(id="relatorios" role="tabpanel")
			.tab-content(id="configuracoes" role="tabpanel")
			.tab-content(id="questoes-listas" role="tabpanel")
			.tab-content(id="diagnostico" role="tabpanel")
				div(id="diagnostico-container")
					
block scripts
	script(src="/dist/diagnostico/questoes.bundle.js")