extends ../layout
include ../mixins/forms/_inputs

block content
  - const l = lista || {}
  section.hero.is-dark.shadow-inside
    .hero-body
      .container.has-text-centered
        h1.title.title-with-shadow.is-size-2
          if lista
            |Editar Lista de Exercícios
          else
            |Nova Lista de Exercícios
  
  section.m-t-16
    .container
      form(id="form-lista" action=`/lista/adicionar/${l._id || ''}` method='POST')
        +input({ 
          label: 'Título', 
          name: 'titulo',
          placeholder: 'Digite o título da questão', 
          icon: 'i-cursor', 
          value: l.titulo 
        })
        label.label Questões
        .select.is-fullwidth.is-primary
          select(name="questoes" placeholder="Selecione questões" multiple)
            if lista && lista.questoes
              for questao in lista.questoes
                option(value=questao._id, selected) #{questao.titulo}

        br
        input.button.is-primary.is-fullwidth.is-large.m-t-16.m-b-16(type="submit" value="Salvar")

block styles
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
  link(href="/styles/select2-bootstrap.min.css" rel="stylesheet")

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
  script(src="/dist/Lista.bundle.js")