extends ../layout
include ../mixins/forms/_inputs

block content
  - const l = lista || {}
  section.hero.is-dark.shadow-inside
    .hero-body
      .container.has-text-centered
        h1.title.title-with-shadow.is-size-2
          if lista
            |Editar Lista de Exercícios
          else
            |Nova Lista de Exercícios
  
  section.m-t-16
    .container
      form(id="form-lista" action=`/lista/adicionar/${l._id || ''}` method='POST')
        .columns.is-multiline.is-tablet.is-centered
          .column.is-11
            +input({ 
              label: 'Título', 
              name: 'titulo',
              placeholder: 'Digite o título da questão', 
              icon: 'i-cursor', 
              value: l.titulo 
            })
          .column.is-11.m-t-8.m-b-8
            label.label Questões
            select.select.is-fullwidth(name="questoes" placeholder="Selecione questões" multiple)
              if lista && lista.questoes
                for questao in lista.questoes
                  option(value=questao._id, selected) #{questao.titulo}
          .column.is-11.m-t-8.m-b-16
            input.button.is-primary.is-fullwidth.is-large(type="submit" value="Salvar")

block styles
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
  link(href="/styles/select2-bootstrap.min.css" rel="stylesheet")

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
  script(src="/dist/Lista.bundle.js")