extends ../layout

block content
  input(type="hidden", name="questaoId", value=questao.identificador)
  .article-page
    .banner
      .container
        h3 Questão #{questao.identificador} - #{questao.titulo}

  .container.page
    .row.article-content
      .col-md-12
        h5: b Enunciado
        p.text-justify #{questao.enunciado}
        p.text-center
          strong Exemplo de Entrada: 
          != questao.exemploEntrada
        p.text-center 
          strong Saída Esperada: 
          != questao.exemploSaida
        
    .row
      .col-md-6
        div(id="questao-editor")
      .col-md-6
        .row
          .col-md-6
            button.btn.btn-primary.btn-block(id="btn-enviar-codigo") Executar Testes
          .col-md-6
            button.btn.btn-info.btn-block(id="btn-submeter") Submeter
        br
        h3.text-center Funções disponíveis
        code escreva(x)
        |  Escreve x na saída
        br
        code raizQuadrada(x)
        |  Retorna o valor da raiz quadrada de x
        br
        code potencia(base, expoente)
        |  Retorna base elevado ao expoente
        br
        code divisaoInteira(a, b)
        |  Retorna o valor inteiro da divisão de a/b
        br
        br
        .well
          h4.text-center Saída
          ul.list-group(id="resultados-container")

block scripts
  script(src="/dist/Editor.bundle.js")
  
